.risks-6bN {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #8c8989;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.4rem;
  font-weight: 400;
  height: 4.3rem;
  line-height: 1.2125;
  overflow: hidden;
  padding: 0 1.7rem;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
