<div class="device-information-UVr" id="52:300">
    <p class="device-info-Drk" id="52:302">Device Information</p>
    <div class="auto-group-kcds-5e4" id="CWHSfp8AzZL6SPXRFzKcdS">
    <div class="auto-group-qs6g-bsJ" id="CWHSxtU4AdT352JoWXqS6g">
    <div class="auto-group-stuu-hQY" id="CWHTCYjxhtLzNjLJumStUU">
    <img class="divider-BqW" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="52:304"/>
    <img class="divider-umW" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="57:359"/>
    <img class="divider-rAx" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="57:360"/>
    <img class="divider-ymN" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="57:361"/>
    <p class="device-name-XH6" id="52:306">Device Name</p>
    <p class="mac-address-PKJ" id="52:312">Mac Address</p>
    <p class="ip-address-h56" id="52:313">IP Address</p>
    <p class="device-type-nsE" id="52:307">Device Type</p>
    </div>
    <div class="auto-group-4moa-pJ8" id="CWHTPNmFbYKjWQDivW4moA">
    <p class="risks-YV2" id="52:315">Risks</p>
    <img class="divider-rkc" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="52:314"/>
    </div>
    </div>
    <div class="auto-group-2d4g-B2C" id="CWHTdY2KqYunNavBs12d4g">
    <p class="device-info-7wS" id="52:317">Risk Score</p>
    <div class="auto-group-qbm6-r8L" id="CWHThcjrk34ESpEg6fQBM6">
    <div class="ellipse-4-APv" id="52:318"></div>
    </div>
    </div>
    </div>
    </div>