<div class="devices-hD6" id="18:47">
    <div class="stateinactive-qic" id="18:46">
    <div class="auto-group-fzm2-9FS" id="CWHZr2LL1baGHQ6FMvfzM2">
    <div class="auto-group-tfel-r9r" id="CWHZk2WKaZH7Zg2ktkTFeL">
    <p class="device-name-v9i" id="18:29">Device Name</p>
    <p class="device-type-aEG" id="18:30">Device Type</p>
    </div>
    <img class="divider-u1e" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="10:10"/>
    </div>
    <img class="divider-ocp" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="15:25"/>
    </div>
    <div class="statehover-5qE" id="18:44">
    <div class="auto-group-bopg-RPJ" id="CWHa96gDBfhCv2sdcUBopG">
    <div class="auto-group-z4bn-xe8" id="CWHa3wA9bDYt8SGQNjZ4bn">
    <p class="device-name-6EY" id="18:35">Device Name</p>
    <p class="device-type-16c" id="18:36">Device Type</p>
    </div>
    <img class="divider-hVE" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="18:33"/>
    </div>
    <img class="divider-evG" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="18:34"/>
    </div>
    </div>