<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureSight</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', path='/main_menu.css') }}" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', path='/main_menu.css') }}" rel="stylesheet">
</head>

<div class="main-menu-A92" id="59:392">
    <div class="auto-group-aqhv-eiQ" id="CWHRLrLQnYsLCv5xFEAqHv">
    <div class="ellipse-2-iEQ" id="52:218"></div>
    <p class="future-sight-9Ki" id="52:219">Future Sight</p>
    </div>
    <div class="auto-group-ekqt-JM2" id="CWHRUmGtk9KBa8tSwvEkQt">
    <div class="auto-group-bshi-Dyn" id="CWHRfLobnRSsvZwPC2BSHi">
    <p class="devices-jSL" id="52:212">Devices</p>
    <div class="button-bjS" id="57:353">Scan</div>
    <div class="button-bsr" id="57:351">Add Device</div>
    </div>
    <div class="auto-group-mjgp-T9N" id="CWHRqRM97wtUiXKMtrmjGp">
    <div class="rectangle-2-nBe" id="52:213"></div>
    <img class="divider-un4" src="/api/prod-us-east-2-first-cluster/projects/C5CBV9M..." id="52:214"/>
    <p class="all-devices-eUk" id="52:215">All Devices</p>
    <p class="device-name-HGp" id="52:216">Device Name</p>
    <p class="device-type-Pqe" id="52:217">Device Type</p>
    </div>
    </div>
    </div>